
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../js/lib/slick.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/jquery.page.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/barba.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/modernizr.custom.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/jquery.dlmenu.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/pagetransitions.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/jquery.easings.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/jquery.multiscroll.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/nextprev.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
