{% block header %}
  <header id="header" class="header">
    <div class="container-wide">

      {% if function('array_unset', header_widget, '_multiwidget') %}
      <div class="header__top">
        <div class="container">
          <div class="container__inner">
            {% for key, header in function('array_unset', header_widget, '_multiwidget') %}
              {{ function('acfwidget', 'header_blocks', 'header_widget-' ~ key ) }}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="header__bottom">
        <div class="container">
          <div class="container__inner">
            <div class="header__logo">
              <a href="{{ site.url }}" class="logo">
                  <img alt="{{ site.name }}" src="{{ site_logo }}" alt="{{ site.name }}">
              </a>
              {#<a href="{{ site.url }}" class="logo logo__scroll"><img src={{ site_logo_scroll }}></a>#}
            </div>

            {% block navigation %}
            {% include 'navigation.twig' %}
            {% endblock %}

            <div class="hidden-on-desktop header-icon-responsive">
              <div class="menu-responsive js-toogle--menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
              <div class="search-responsive js-toogle--menu"><i class="fa fa-search" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </header>
{% endblock %}
