<!DOCTYPE html>
<html>
  <head>
    <meta charset="{{site.charset}}" />
    {% if function('is_front_page') %}
      <title>{{site.name}} - {{site.description}}</title>
    {% else %}
      <title>{{ function('bloginfo') }} - {{ wp_title }}</title>
    {% endif %}
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{ site_favicon }}" type="image/x-icon" />
    <link rel="icon" href="{{ site_favicon }}" type="image/x-icon">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>
    {{ wp_head }}
  </head>
<body class="{{ body_class }} {% if function('is_front_page') %}landing-page{% else %}denholm is-home{% endif %}" data-template="base.twig">
    <div class="page-transition">
      {% if function('is_front_page') %}
        {% block landing %}
          {{context}}
        {% endblock %}
      {% else %}
        {% block page_transition %}
          {% include 'page-transition.twig' %}
        {% endblock %}

        {% block transition_content %}
          {{context}}
        {% endblock %}
      {% endif %}

      {% block footer %}
        {{ wp_footer }}
      {% endblock %}

      {% block footer_scripts %}
      {% endblock %}
    </div>

    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5af864aed968f37e"></script>
    {#<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&#38;key={{ google_api_key }}&#38;libraries=places" type="text/javascript"></script>#}
  </body>
</html>
