{% block page_transition %}
  <div class="page-transition__wrap">
    {# {{ post.get_field('page_type')|print_r }} #}
    {% if post.get_field('page_type') == 'sjc' %}
      {% set site_logo  = 'Steven<br> John<br> Clark' %}
      {% set site_class = 'sjc-logo' %}
      {% set site_data  = 'sjc' %}
      {% set site_data_mobile  = 'sjc-mobile' %}
      {% set site_menu  = 'sjc' %}
    {% else %}
      {% set site_logo  = 'denHolm' %}
      {% set site_class = 'denholm-logo' %}
      {% set site_data  = 'denholm' %}
      {% set site_data_mobile  = 'denholm-mobile' %}
      {% set site_menu  = 'denholm' %}
    {% endif %}

    <div class="page-transition__logo"><a href="#" class="js-change-page js-logo is-active {{ site_class }}" data-page-name="{{ site_data }}" data-page-trans="slide-in-from-bottom">{{ site_logo }}</a></div>
    <div class="red-button back-to-home">
      <a href="/"></a>
    </div>
    <div class="page-transition__menu-mobile">
      <span class="js-change-page js-logo back-home is-active" data-page-name="{{ site_data_mobile }}" data-page-trans="slide-in-from-bottom"></span>
      <span class="menu js-toggle-menu">Menu</span>
    </div>
    <div class="page-transition__menu">
      <div class="page-transition__inner">
        {% block navigation %}
        <div class="page-transition__nav">
          <ul>
            {% include 'navigation.twig' with {'menu': menu[site_menu]} %}
          </ul>
        </div>
        {% endblock %}

        <div class="page-transition__footer">
          <div class="content-inner">
            <ul class="page-transition__footer__inner">
              {% include 'navigation.twig' with {'menu': menu.footer} %}
            </ul>
          </div>
        </div>
        <div class="page-transition__link">
          <div class="red-button back-to-home">
            <a href="/"></a>
          </div>
          <span>denHolm Studios</span>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
