<div class="page-transition__item jquery-page-disabled {{name|replace({' ': '-'})|lower}}" data-jquery-page-name="{{name|replace({' ': '-'})|lower}}">
  <div class="content-inner">
    {#{ fn('do_shortcode', '[woocs]') }#}

    {#{ fn('do_shortcode', '[products]') }#}
    <div class="woocommerce">
      <div class="box-product">
      {% for post in posts %}
        {# {{ post|print_r }} #}
        {% set product = fn('wc_get_product', post.ID) %}
        <div class="box-product__item {{ post.class }}">
          <div class="box-product__image">
            <img src="{{ post.thumbnail.src('shop_single') }}">
          </div>
          <h3 class="box-product__title">{{ post.title }}</h3>
          <div class="box-product__price">
            <span>
              {{ fn('get_woocommerce_currency_symbol') }}
              {{ fn('apply_filters', 'woocs_exchange_value', product.get_price)|number_format(2, '.', ',') }}
              {{ fn('get_woocommerce_currency') }}
            </span>
            <a class="next js-change-page load-product" href="/product/{{ post.slug }}" data-product-id={{ post.ID }} data-current-path="{{ fn('get_permalink') }}" data-page-name="object-specific" data-page-trans="slide-in-from-bottom">Read More</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
