<div class="page-transition__item {{name|replace({' ': '-'})|lower}}" data-jquery-page-name="{{name|replace({' ': '-'})|lower}}">
  <div class="content-inner">
    <div class="box-slide-content">
      <div class="box-slide-content__inner js-slide">
    		{% for item in image_text_slide_item %}
    			<div class="box-slide-content__item">
            <div class="box-slide-content__image">
    				    <img src="{{item.image_text_slide_image.url}}" title="{{item.image_text_slide_image.title}}" alt="{{item.image_text_slide_image.alt}}">
            </div>
    				<div class="box-slide-content__body">
    					<h2>{{ item.image_text_title }}</h2>
    					{{item.image_text_body}}
    				</div>
    			</div>
    		{% endfor %}
      </div>
    </div>
  </div>
</div>
