<div class="page-transition__item jquery-page-disabled {{name|replace({' ': '-'})|lower}}" data-jquery-page-name="{{name|replace({' ': '-'})|lower}}">
  <div class="content-inner">
    <div class="box-product">
      {#{ fn('do_shortcode', '[woocs]') }#}

      {#{ fn('do_shortcode', '[products]') }#}
      <div class="woocommerce">
        <ul class="box-product">
        {% for post in posts %}
          {% set product = fn('wc_get_product', post.ID) %}
          <div class="box-product__item {{ post.class }}">
            {% set geo_country      = geoip.country %}
            {% set currency         = currency_data[geo_country] %}
            {% set currency_symbol  = woocs.get_currencies[currency].symbol %}
            {% set currency_rate    = woocs.get_currencies[currency].rate %}
            {% set currency_price   = product.get_price * currency_rate %}

            <div class="box-product__image">
              <img src="{{ post.thumbnail.src('shop_single') }}">
            </div>
            <h3 class="box-product__title">{{ post.title }}</h3>
            <div class="box-product__price">
              <span>
                {#{ fn('get_woocommerce_currency_symbol') }}
                {{ fn('apply_filters', 'woocs_exchange_value', product.get_price)|number_format(2, '.', ',') }}
                {{ fn('get_woocommerce_currency') }#}
                {{ currency_symbol ~ ' ' ~ currency_price|number_format(2, '.', ',') ~ ' ' ~ currency }}
              </span>
              <a class="next js-change-page load-product" href="/product/{{ post.slug }}" data-product-id={{ post.ID }} data-current-path="{{ fn('get_permalink') }}" data-page-name="object-specific" data-page-trans="slide-in-from-bottom">Read More</a>
            </div>
          </div>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
