<div class="{% if layout %}col-md-{{ layout }}{% endif %} footer-pane footer-pane-{{ index }} footer-pane-social {{ component_class }}">
	{% if footer_block_title %}
	<h3 class="block-title pane-title">{{ footer_block_title }}</h3>
	{% endif %}
	<div class="block-inner">
		<div class="fb-page" data-href="{{ facebook_url }}" data-width="355" data-height="215" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
		<div class="addthis_inline_share_toolbox"></div>
	</div>
</div>