<div class="landing-wrap">
  <div class="landing" id="landing">
    <div class="landing__left ms-left ms-easing">
      <div class="ms-group">
  			{% for item in group_left %}
  				<div class="ms-section" style="background-color: {{ item.bgcolor }}">
  					{% if item.landing_image is not empty %}
  						<div class="group-content with-image with-video title-center">
  							{% if item.landing_title %}
  			          <h2 class="title--center">{{ item.landing_title }}</h2>
  							{% endif %}
                {% if item.landing_image.type == "video" %}
                  <div class="video-wrap"><video width="1280" height="720" muted="muted" loop="loop" autoplay="" preload="auto" id="videoSjc" playsinline=""> <source src="{{ item.landing_image.url }}" type="{{ item.landing_image.mime_type }}"> </video></div>
  							{% else %}
  								<img src="{{ item.landing_image.url }}" alt="{{ item.landing_image.alt }}">
  							{% endif %}
  							{% if item.landing_image %}
  		          	<a href="#" class="link-more prev js-load-page" data-page-id="89" data-page-trans="slide-in-from-right" data-start-load="sjc-start" data-page-name="sjc-loaded" data-page-url="sjc">Prev</a>
  							{% endif %}
  		        </div>
  					{% else %}
  						<div class="group-content">
  							{% if item.landing_title %}
  								<h2 class="text--right">{{ item.landing_title }}</h2>
  							{% endif %}
  							{% if item.email %}
  								<h3><a href="mailto:{{item.email}}">{{ item.email }}</a></h3>
  							{% endif %}
  							{% if item.address %}
  								{{ item.address }}
  							{% endif %}
  						</div>
  					{% endif %}
  	      </div>
  			{% endfor %}
      </div>
    </div>
    <div class="landing__right ms-right ms-easing">
      <div class="ms-group">
  			{% for item in group_right %}
  				<div class="ms-section" style="background-color: {{ item.bgcolor }}">
  					{% if item.landing_image is not empty %}
  						<div class="group-content with-image">
  							{% if item.landing_title %}
  								<h2 class="title--bottom">{{ item.landing_title }}</h2>
  							{% endif %}
  							{% if item.landing_image.type == "video" %}
                  <video width="1280" height="720" muted="muted" loop="loop" autoplay="" preload="auto" id="theVideo" playsinline=""> <source src="{{ item.landing_image.url }}" type="{{ item.landing_image.mime_type }}"> </video>
  							{% else %}
  								<img src="{{ item.landing_image.url }}" alt="{{ item.landing_image.alt }}">
  							{% endif %}
  							{% if item.landing_image %}
  								<a href="#" class="link-more prev js-load-page" data-page-id="83" data-page-trans="slide-in-from-left" data-start-load="denholm-start" data-page-name="denholm-loaded" data-page-url="denholm">Prev</a>
  							{% endif %}
  						</div>
  					{% else %}
  						<div class="group-content">
  							{% if item.landing_title %}
  								<h2 class="text--left">{{ item.landing_title }}</h2>
  							{% endif %}
  							{% if item.email %}
  								<h3><a href="mailto:{{item.email}}">{{ item.email }}</a></h3>
  							{% endif %}
  							{% if item.address %}
  								{{ item.address }}
  							{% endif %}
  						</div>
  					{% endif %}
  				</div>
  			{% endfor %}
      </div>
    </div>
  </div>
  <div class="page-ajaxload"></div>
  <div class="next-page">
  	<div class="arrow-btn arrow-left js-load-page" data-page-id="89" data-page-trans="slide-in-from-right" data-start-load="sjc-start" data-page-name="sjc-loaded" data-page-url="sjc">Prev</div>
  	<div class="arrow-btn arrow-right js-load-page" data-page-id="83" data-page-trans="slide-in-from-left" data-start-load="denholm-start" data-page-name="denholm-loaded" data-page-url="denholm">Next</div>
  </div>
</div>
