<div class="content-inner">
  {% set product = fn('wc_get_product', 152) %}
  {% set geo_country      = geoip.country %}
  {% set currency         = currency_data[geo_country] %}
  {% set currency_symbol  = woocs.get_currencies[currency].symbol %}
  {% set currency_rate    = woocs.get_currencies[currency].rate %}
  {% set currency_price   = product.get_price * currency_rate %}
  {# {{product|print_r}} #}
  <div class="object-specific">
    <div class="object-specific__content">
      <a class="back-link prev js-back-overview" href="#" data-page-name="objects" data-page-trans="slide-in-from-bottom">Back</a>
      <div class="object-specific__body">
        {{ post.content|shortcodes }}
      </div>
      <div class="object-specific__quantity">
        <form>
          <div class="form-item">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" min="1" max="{{ product.get_stock_quantity }}" value="1">
          </div>
          <div class="form-wrapper">
            {# <input type="submit" value="Purchase"> #}
            {{ fn('do_shortcode', '[add_to_cart id="' ~ post.ID ~ '"]') }}
          </div>
        </form>
      </div>
    </div>
    <div class="object-specific__gallery">
      <a class="back-link prev" href="{{ current_path }}">Back</a>
      <div class="object-specific__slide js-slide">
        {# <div class="object-specific__item">
          <img src="{{ post.thumbnail.src('shop_single') }}">
        </div> #}
        {% for image in product.get_gallery_attachment_ids %}
          <div class="object-specific__item">
            <img src="{{ fn('wp_get_attachment_url', image) }}">
          </div>
        {% endfor %}
      </div>
      <div class="object-specific__group">
        <h2 class="object-specific__title">{{ post.title }}</h2>
        <div class="price">
          {{ fn('get_woocommerce_currency_symbol') }}{{ product.get_price|number_format(2, '.', ',') }} {{ fn('get_woocommerce_currency') }}
          {# {{ currency_symbol ~ ' ' ~ currency_price|number_format(2, '.', ',') ~ ' ' ~ currency }} #}
        </div>
      </div>
    </div>
  </div>
</div>
