<div class="content-inner">
  {% set product = fn('wc_get_product', post.ID) %}
  {% set geo_country      = geoip.country %}
  {% set currency         = currency_data[geo_country] %}
  {% set currency_symbol  = woocs.get_currencies[currency].symbol %}
  {% set currency_rate    = woocs.get_currencies[currency].rate %}
  {% set currency_price   = product.get_price * currency_rate %}
  {# {{product|print_r}} #}
  <div class="object-specific">
    <div class="object-specific__gallery">
      <div class="link-group">
        <a class="back-link" href="#">Back</a>
        <a href="/cart">View Cart</a>
      </div>
      <div class="object-specific__slide js-slide">
        {% for image in product.get_gallery_attachment_ids %}
          <div class="object-specific__item">
            <img src="{{ fn('wp_get_attachment_url', image) }}" width="447" height="595" alt="{{ post.title }}">
          </div>
        {% endfor %}
      </div>
      <div class="object-specific__group">
        <h2 class="object-specific__title">{{ post.title }}</h2>
        <div class="price">
          {{ fn('get_woocommerce_currency_symbol') }}{{ product.get_price|number_format(2, '.', ',') }} {{ fn('get_woocommerce_currency') }}
        </div>
      </div>
    </div>
    <div class="object-specific__content">
      <div class="link-group">
        <a class="back-link" href="#">Back</a>
        <a href="/cart">View Cart</a>
      </div>
      <div class="object-specific__body">
        {{ post.content|shortcodes }}
      </div>
      <div class="object-specific__quantity">
        <form>
          <div class="form-item">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" min="1" max="{{ product.get_stock_quantity }}" value="1">
          </div>
          <div class="form-wrapper">
            {# <input type="submit" value="Purchase"> #}
            {{ fn('do_shortcode', '[add_to_cart id="' ~ post.ID ~ '"]') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
